<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zxc.pd.pd.mapper.QuotationSheetMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="zxc.pd.pd.model.QuotationSheet">
        <id column="id" property="id" />
        <result column="province" property="province" />
        <result column="county" property="county" />
        <result column="district" property="district" />
        <result column="get_time" property="getTime" />
        <result column="soft_price" property="softPrice" />
        <result column="plank_price" property="plankPrice" />
        <result column="tea_table_price" property="teaTablePrice" />
        <result column="television_price" property="televisionPrice" />
        <result column="dining_table_price" property="diningTablePrice" />
        <result column="downstairs_price" property="downstairsPrice" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
    </resultMap>

</mapper>
